:root {
    --negro:                    #000000;
    --ceruleo_grisaceo_oscuro:  #273234;
    --cian_grisaceo_oscuro:     #37474A;
    --blanco:                   #FFFFFF;

    --body_clr:     var(--cian_grisaceo_oscuro);
    --footer_clr:   var(--ceruleo_grisaceo_oscuro);
    --header_clr:   var(--negro);
    --botones_log_clr: var(--blanco)

}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--blanco);
}

body {
    background-color: var(--body_clr);
}

footer {
    background-color: var(--footer_clr);
    padding: 0.3em;
    text-align: center;
}

header {
    background-color: var(--header_clr);
    display: flex;
}

#logo-icono {
    width: auto;
    height: auto;
}

#logo-titulo {
    height: auto;
}

#tab-login {
    background-color: var(--footer_clr);
}

#tab-login>ul{
    height: 11.875em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    justify-content: center;
}

#tab-login li{
    width: 12.5em;
    padding: 1em;
    text-align: center;
    border-radius: 0.4em;
    background-color: var(--cian_grisaceo_oscuro); /* En principio el color es blanco, pero las letras se ven blancas */
}


#tab-login a{
    text-decoration: none;
}


