:root {
    --negro:                        #000000;
    --ceruleo_grisaceo_oscuro:      #273234;
    --ceruleo_grisaceo__mas_oscuro: #1e2425;
    --cian_grisaceo_oscuro:         #37474A;
    --blanco:                       #FFFFFF;
    --gris_oscuro:                  #9D9C9C;
    --gris_normal:                  gray;

    --body_clr:     var(--cian_grisaceo_oscuro);
    --footer_clr:   var(--ceruleo_grisaceo_oscuro);
    --header_clr:   var(--negro);
    --botones_log_clr: var(--blanco)

}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p, a, h1, h2, h3{ /* Si no hago esto, algunas cosas se ven blancas cuando no deberían */
    color: var(--blanco);
}

dialog p{
    color: var(--negro);
}

body {
    background-color: var(--body_clr);
}

#creacion-cuenta{
    display: grid;
    justify-content: center;
}

#creacion-cuenta h1{
    margin-bottom: 0.25em;
}

#datos-usu{
    width: 31.25em; /* Pondría fit-content, pero esa propiedad no está soportada por firefox */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5em;
    padding: 2em;
    background-color: var(--ceruleo_grisaceo_oscuro);
    margin: 0 auto 1em;
}

#funciones{
    margin-top: 3em;
}

#funciones a:hover, #tab-google p>a:hover{
    color: var(--gris_oscuro);
}

footer {
    background-color: var(--footer_clr);
    padding: 0.3em;
    text-align: center;
}

header {
    background-color: var(--header_clr);
}

input[name="pfp"]{
    display: none;
}

#foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5em;
    padding: 1em;
    margin-bottom: 1;
}

#foto img{
    width: 33.5em;
}

.google-login{
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    background-color: var(--blanco);
    color: var(--negro);
    text-decoration: none;
    border: 0.15em solid var(--negro);
}

#info-foto{
    width: 20.5em;
    padding: 1em;
    background-color: var(--footer_clr);
}


#reg_2 h3{
    margin-top: 1.35em;
}

select, input[type=date]{
    color: var(--gris_normal);
}

#tab-google{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tab-login {
    background-color: var(--footer_clr);
}

#tab-login>ul{
    height: 11.875em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    justify-content: center;
}

#tab-login li{
    width: 12.5em;
    padding: 1em;
    text-align: center;
    border-radius: 0.4em;
    background-color: var(--cian_grisaceo_oscuro); /* En principio el color es blanco, pero las letras se ven blancas */
}

#tab-login li:hover{
    background-color: var(--ceruleo_grisaceo__mas_oscuro);
}


#tab-login a{
    text-decoration: none;
}

#tab-reg{
    display: flex;
    justify-content: center;
    gap: 5.5em;
    width: 900px;
    padding-bottom: 1.5em;
    background-color: var(--footer_clr);
}

#tab-reg input, #tab-reg select{
    font-size: 15px;
}

#tab-reg input[type=submit]{
    font-size: 15px;
    margin-top: 1em;
}

#tab-usuario{
    display: grid;
    justify-content: center;
}





