@import url('colores.css');

:root{
    /* Cambiamos colores */
    --font_clr:         var(--blanco);
    --body_clr:         var(--gris-negraceo);
    --footer_clr:       var(--negro);
    --header_clr:       var(--negro);
    --articulos_clr:    var(--negro);
    --botones_clr:      var(--negro);
}

header, footer, article, nav li, form, #info-foto, #tab-login, #tab-login li, .folder, .tab-busc, #datos-usu{
    border: 1px solid var(--blanco);
}

nav li:hover, #tab-login li:hover, .folder:hover {
    background: var(--gris_normal);
}
