@import url('colores.css');

:root {

    /* Cambiamos colores */
    --font_clr:     var(--negro);
    --body_clr:     var(--cian_grisaceo_claro);
    --footer_clr:   var(--ceruleo_grisaceo_claro);
    --header_clr:   var(--blanco);
    --articulos_clr: var(--ceruleo_grisaceo_mas_claro);
    --botones_clr: var(--negro);
}

#tab-login li:hover {
    background-color: var(--cian-grisaceo);
  }
