main{
    display: flex;
    justify-content: center;
}

#tab-crear-album{
    padding: 2em 0 12.5em 0;
}

#tab-crear-album form{
    background-color: var(--articulos_clr);
    padding: 2em;
    border-radius: 1em;
}

#btn-crear{
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--footer_clr);
    cursor: pointer;
    color: var(--font_clr);
}