@import url('./style.css');

:root {

    /* Colores principales
    --negro:                        #000000;
    --ceruleo_grisaceo__mas_oscuro: #1e2425;
    --ceruleo_grisaceo_oscuro:      #273234;
    --cian_grisaceo_oscuro:         #37474A;
    --blanco:                       #FFFFFF; */

    /* Colores cambiados */
    --ceruleo_grisaceo_mas_claro: #accbcf;
    --ceruleo_grisaceo_claro: #99C4CC;
    --cian_grisaceo_claro: #86AEB5;

    /*Cambiamos colores*/
    --negro: #FFFFFF;
    --ceruleo_grisaceo_mas_oscuro: var(--ceruleo_grisaceo_mas_claro);
    --ceruleo_grisaceo_oscuro: var(--ceruleo_grisaceo_claro);
    --cian_grisaceo_oscuro: var(--cian_grisaceo_claro);
    --blanco: #000000;
    
    /*Grises*/
    --gris_claro:                   #efefef;
    --gris_claro_menor:             rgb(214, 214, 214);
    --gris_normal:                  rgb(149, 149, 149);
    --gris_oscuro:                  #7a7a7a;
}

/* Cambiamos las fotos */
.grid-contenedor-claro {
    display: grid;
    /* padding: 1em; */
    align-items: center;
    grid-template-columns: 30% 70%;
    justify-content: space-around;
    width: fit-content;
}

.grid-contenedor{
    display: none;
}
