.central {
    display: flex;
    gap: 1em;
}

table {
    border-collapse: collapse;
}
  
table td, table th {
    border: 0.1em solid var(--negro);
    padding: 8px;
    background-color: var(--footer_clr);
    color: var(--font_clr);
}
  
table tr{
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--articulos_clr);
    color: var(--font_clr);
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}