:root {
    --negro:                        #000000;
    --ceruleo_grisaceo_mas_oscuro:  #1e2425;
    --ceruleo_grisaceo_oscuro:      #273234;
    --cian_grisaceo_oscuro:         #37474A;
    --blanco:                       #FFFFFF;
    --gris_claro:                   #efefef;
    --gris_claro_menor:             rgb(214, 214, 214);
    --gris_normal:                  rgb(149, 149, 149);
    --gris_oscuro:                  #7a7a7a;

    --font_clr:      var(--blanco);
    --body_clr:      var(--cian_grisaceo_oscuro);
    --footer_clr:    var(--ceruleo_grisaceo_oscuro);
    --header_clr:    var(--negro);
    --articulos_clr: var(--ceruleo_grisaceo_mas_oscuro);
    --botones_clr:   var(--articulos_clr);

}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p, a, h1, h2, h3, time{ /* Si no hago esto, algunas cosas se ven blancas cuando no deberían */
    color: var(--font_clr);
}

.arriba {
    grid-row: 1;
}

.abajo {
    grid-row: 2;
}

dialog p, dialog a, dialog h3{
    color: var(--negro);
}

body {
    background-color: var(--body_clr);
}

#busqueda-rapida {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    background: var(--articulos_clr);
    border-radius: 0.5em;
}

#busqueda-rapida input[type=text], #busqueda-rapida button {
    background: none;
    border: none;
    color: var(--blanco);
}

#busqueda-rapida input[type=text]:focus-visible {
    outline: none;
}

#creacion-cuenta {
    display: grid;
    justify-content: center;
}

#creacion-cuenta h1 {
    margin-bottom: 0.5em;
}

#datos-usu {
    width: 31.25em; /* Pondría fit-content, pero esa propiedad no está soportada por firefox */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5em;
    padding: 2em;
    background-color: var(--articulos_clr);
    margin: 0 auto 1em;
}

.derecha {
    grid-column: 2;
    align-items: center;
}

.derecha, .izquierda {
    width: 22em;
}

#editar-perfil a {
    width: 8.2em;
    text-decoration: none;
    padding: 0.15em;
    margin-top: 1em;
    background-color: var(--gris_claro);
    display: block;
    text-align: center;
    border: 0.1em solid var(--negro);
}

#editar-perfil a:hover {
    background-color: var(--gris_claro_menor);
}

#editar-perfil input[type=submit] {
    display: block;
    cursor: pointer;
}

#error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error ul {
    list-style-type: none;
    padding: 0;
}

#error img {
    width: 100px;
}

#error p, #error li {
    width: 16em;
    text-align: center;
    margin-bottom: 0;
}

#error li {
    padding: 0.4em;
    background-color: var(--gris_normal);
    text-decoration: none;
}

#error li:hover {
    background-color: var(--gris_oscuro);
}

#error li a {
    text-decoration: none;
}

#error li:last-child {
    margin-top: 1.25em;
}

.folder {
    font-size:x-large;
    padding: 0.8em;
    background-color: var(--articulos_clr);
}

.folder:hover{
    background-color: var(--articulos_clr);
    cursor: pointer;
}

footer {
    background-color: var(--footer_clr);
    padding: 0.3em;
    text-align: center;
}

#foto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5em;
    padding: 1em;
    margin-bottom: 1;
}

#foto img {
    width: 33.5em;
}

#funciones {
    margin-top: 3em;
}

#funciones a:hover, #tab-google p>a:hover {
    color: var(--gris_normal);
}

.grid-casilla {
    /* padding: 0 1em; */
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: stretch;
}

.grid-contenedor {
    display: grid;
    /* padding: 1em; */
    align-items: center;
    grid-template-columns: 30% 70%;
    justify-content: space-around;
    width: fit-content;
}

.grid-img, .grid-img-sin-user {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    gap: 3em;
    border-top: 0.25em solid var(--blanco);
    padding: 2em;
    margin-top: 0.5em;
}

.grid-img article {
    background-color: var(--articulos_clr);
    padding: 1em 2em 2em 2em;
    color: var(--blanco);
} 

.grid-img-sin-user article {
    background-color: var(--articulos_clr);
    padding: 2em;
}     

.grid-img article img, .grid-img-sin-user article img {
    background-color: var(--articulos_clr);
}     

.grid-img article p, .grid-img article time {
    font-size: large;
}    

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
    background-color: var(--blanco);
    color: var(--negro);
    text-decoration: none;
    border: 0.15em solid var(--negro);
}    

#grid-params {
    display: grid;
    justify-content: center;
}    

header {
    display: grid;
    grid-template-columns: 40% 40% 15% 10%;
    align-items: center;
    padding: 1em;
    background-color: var(--header_clr);
}

header > div {
    grid-column: 1;
}

header > figure {
    margin: 0;
}

header > form {
    grid-column: 3;
}

header > nav {
    grid-column: 2;
    width: fit-content;
}

header p {
    margin: 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}    

header li {
    /* width: 6.25em; */
    text-align: center;
    /* padding: 1em; */
    margin: 0.25em;
    background-color: var(--footer_clr);
    text-decoration: none;
}

header li a {
    padding: 1em;
}

header a {
    text-decoration: none;
}    

header li:hover {
    background-color: var(--articulos_clr);
}    

input[name="pfp"] {
    display: none;
}    

.izquierda {
    grid-column: 1;
}    

.izquierda > p {
    text-align: center;
}    

#info-foto {
    width: 20.5em;
    padding: 1em;
    background-color: var(--articulos_clr);
}

#logo-icono {
    width: 75px;
}

#logo-titulo {
    width: 250px;
}

#lupa {
    color: var(--blanco);
}

label[for=pfp] {
    cursor: pointer;
}

#reg_2 h3 {
    margin-top: 1.35em;
}

select, input[type=date] {
    color: var(--gris_normal);
}

.tab-busc {
    display: grid;
    padding: 2em;
    background-color: var(--articulos_clr);
    font-size: large;
    justify-content: center;
}

.tab-busc-fecha {
    display: block;
    margin-bottom: 0.5em;
}

.tab-busc input[type=text], .tab-busc select {
    display: block;
    font-size: 16px;
    margin-top: 0.5em;
}

.tab-busc input[type=date], input[type=submit] {
    font-size: 16px;
}

.tab-busc-y {
    margin: 0 0.25em 0 0.25em;
}

#tab-google {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tab-login  {
    background-color: var(--footer_clr);
}

#tab-login>ul {
    height: 11.875em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    justify-content: center;
    margin-top: 0;
}

#tab-login li {
    width: 12.5em;
    padding: 1em;
    text-align: center;
    background-color: var(--body_clr); /* En principio el color es blanco, pero las letras se ven blancas */
    cursor: pointer;
}

#tab-login li:hover {
    background-color: var(--articulos_clr);
}

#tab-login a {
    text-decoration: none;
}

#tab-reg {
    display: flex;
    justify-content: center;
    gap: 5.5em;
    width: 900px;
    padding-bottom: 1.5em;
    background-color: var(--footer_clr);
}

#tab-reg input, #tab-reg select {
    font-size: 15px;
}

#tab-reg input[type=submit] {
    font-size: 15px;
    margin-top: 1em;
}

#tab-reg img {
    width: 15.56em;
}

#tab-usuario {
    display: grid;
    justify-content: center;
}

.tab-params {
    width: 38.75em;
    margin-bottom: 2em;
}

.text-google {
    text-align: center;
}

.text-google a:hover {
    color: var(--gris_oscuro);
}

.text-slogan {
    font-size: large;
    text-align: center;
    margin-top: 0;
    margin-left: 1em;
}

.titulo-dialog {
    margin-top: 0.3em;
    font-size: large;
}

.titulo-index {
    margin-left: 1.05em;
}

#pfp-query {
    display: none;
}

/* MEDIA QUERYS */
@media screen and (max-width: 1500px) {
    .grid-img, .grid-img-sin-user{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
        border-top: 0.25em solid var(--blanco);
    } 
}

@media screen and (max-width: 1366px) {
    header {
        display: grid;
        grid-template-columns: 40% 30% 20% 10%;
    }
}

@media screen and (max-width: 1000px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header ul{
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1366px) {
    header ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 950px) {

    #tab-reg{
        width: 400px;
        padding-left: 2em;
        padding-right: 2em;
    }

    .grid-img, .grid-img-sin-user{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
        border-top: 0.25em solid var(--blanco);
    }
    
    #reg-2{
        display: none;
    }

    #pfp-query{
        display: block;
        color: var(--blanco);
    }
}

@media screen and (max-width: 800px) {
    .tab-busc{
        padding: 0.1em;
        width: 25em;
    }  
    
    .tab-busc h2{
        width: 12.5em;
    }   
}

@media screen and (max-width: 600px) {
    #datos-usu{
        width: 31.25em; /* Pondría fit-content, pero esa propiedad no está soportada por firefox */
        display: block;
        padding: 2em;
        background-color: var(--footer_clr);
        margin: 0 auto 1em;
    }

    #foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    #foto img{
        width: 22.4375em;
    }

    #funciones{
        margin-top: 2em;
    }

}



