@import url('../modos-alternativos/colores.css');

:root {
    --font_clr:      var(--blanco);
    --body_clr:      var(--cian_grisaceo_oscuro);
    --footer_clr:    var(--ceruleo_grisaceo_oscuro);
    --header_clr:    var(--negro);
    --articulos_clr: var(--ceruleo_grisaceo_mas_oscuro);
    --botones_clr:   var(--articulos_clr);
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

p, a, h1, h2, h3, time, i {
    color: var(--font_clr);
}

dialog p, dialog a, dialog h3{
    color: var(--negro);
}

body {
    background-color: var(--body_clr);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #020202;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error ul {
    list-style-type: none;
    padding: 0;
}

#error img {
    width: 100px;
}

#error p, #error li {
    width: 16em;
    text-align: center;
    margin-bottom: 0;
}

#error li {
    padding: 0.4em;
    background-color: var(--gris_normal);
    text-decoration: none;
}

#error li:hover {
    background-color: var(--gris_oscuro);
}

#error li a {
    text-decoration: none;
}

#error li:last-child {
    margin-top: 1.25em;
}

footer {
    background-color: var(--footer_clr);
    padding: 0.3em;
    text-align: center;
}

header > figure img {
    border-radius: 50%;
}

.grid-img, .grid-img-sin-user {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(383px + 2em));
    gap: 2em;
    border-top: 0.25em solid var(--blanco);
    padding: 2em;
    justify-items: center;
}

.grid-img article {
    background-color: var(--articulos_clr);
    padding: 1em 2em 2em 2em;
    color: var(--blanco);
} 

.grid-img-sin-user article {
    background-color: var(--articulos_clr);
    padding: 2em;
}

.grid-img article img, .grid-img-sin-user article img {
    background-color: var(--articulos_clr);
}

.grid-img article p, .grid-img article time {
    font-size: large;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
    background-color: var(--blanco);
    color: var(--negro);
    text-decoration: none;
    border: 0.15em solid var(--negro);
}    

header {
    display: flex;
    flex: 2 1 auto;
    padding: 1em;
    background-color: var(--header_clr);
    align-items: center;
    justify-content: space-between;
}

header > aside {
    display: flex;
    align-items: center;
}

header figure {
    margin: 0;
}

header form {
    display: flex;
    padding: 0.5em;
    background: var(--articulos_clr);
    border-radius: 0.5em;
    width: 15em;
}

header form > input[type=text] {
    width: 100%;
}

header form > input[type=text], header form > button {
    background: none;
    border: none;
    color: var(--font_clr);
}

header form > input[type=text]:focus-visible {
    outline: none;
}

header > form {
    display: none;
}

header li:hover {
    background-color: var(--articulos_clr);
}

input[name="pfp"] {
    display: none;
}

label[for=pfp] {
    cursor: pointer;
}

nav {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

nav a i::before {
    font-size: xx-large;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li, nav li > div > a {
    flex-grow: 1;
    text-align: center;
    background: var(--footer_clr);
    border-radius: 0.5em;
    margin: 0.25em;
    width: 4em;
}

nav li:hover {
    background: var(--body_clr);
}

nav li span {
    color: inherit;
}

nav li a, nav li > div {
    display: flex;
    padding: 1em;
    font-weight: bold;
    justify-content: center;
}

nav li > div > i::before {
    font-size: xx-large;
}

#nav-texto {
    display: none;
}

select, input[type=date] {
    color: var(--gris_normal);
}

.tab-busc {
    display: grid;
    padding: 2em;
    background-color: var(--footer_clr);
    font-size: large;
    justify-content: center;
}

.tab-busc-fecha {
    display: block;
    margin-bottom: 0.5em;
}

.tab-busc input[type=text], .tab-busc select {
    display: block;
    font-size: 16px;
    margin-top: 0.5em;
}

.tab-busc input[type=date], input[type=submit] {
    font-size: 16px;
}

.tab-busc-y {
    margin: 0 0.25em 0 0.25em;
}

.text-google {
    text-align: center;
}

.text-google a:hover {
    color: var(--gris_oscuro);
}

.titulo-dialog {
    margin-top: 0.3em;
    font-size: large;
}

.titulo-index {
    margin-left: 1.05em;
}

/* MEDIA QUERYS */
/* @media screen and (max-width: 1500px) {
    .grid-img, .grid-img-sin-user{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
        border-top: 0.25em solid var(--blanco);
    } 
}

@media screen and (max-width: 1000px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header ul{
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 950px) {

    #tab-reg{
        width: 400px;
        padding-left: 2em;
        padding-right: 2em;
    }

    .grid-img, .grid-img-sin-user{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
        border-top: 0.25em solid var(--blanco);
    }
    
    #reg-2{
        display: none;
    }

    #pfp-query{
        display: block;
        color: var(--blanco);
    }
}

@media screen and (max-width: 800px) {
    .tab-busc{
        padding: 0.1em;
        width: 25em;
    }  
    
    .tab-busc h2{
        width: 12.5em;
    }   
}

@media screen and (max-width: 600px) {
    #datos-usu{
        width: 31.25em;
        display: block;
        padding: 2em;
        background-color: var(--footer_clr);
        margin: 0 auto 1em;
    }

    #foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    #foto img{
        width: 22.4375em;
    }

    #funciones{
        margin-top: 2em;
    }

} */
