@import url('../modos-alternativos/colores.css');

:root {
    --font_clr:      var(--blanco);
    --body_clr:      var(--cian_grisaceo_oscuro);
    --footer_clr:    var(--ceruleo_grisaceo_oscuro);
    --header_clr:    var(--negro);
    --articulos_clr: var(--ceruleo_grisaceo_mas_oscuro);
    --botones_clr:   var(--articulos_clr);
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

article h2 {
    margin-top: 0;
}

p, a, h1, h2, h3, time, i, legend, output, .texto-cualquiera {
    color: var(--font_clr);
}

.campo-boton-submit {display: flex;justify-content: center;margin: 2em;}

.campo-boton-submit > button {
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--footer_clr);
    cursor: pointer;
    color: var(--font_clr);
}

.campo-boton-submit > button:hover {
    background-color: var(--body_clr);
}

dialog {
    display: flex;
    background-color: var(--articulos_clr);
    flex-direction: column;
}

dialog:not(:target):not([open]) {
    display: none;
}

dialog p, dialog a, dialog h3{
    /* color: var(--negro); */
}

.enlace-simple {
    display: flex;
    justify-content: center;
}

.enlace-simple a {
    color: var(--cian_grisaceo_claro);
}

.enlace-simple a:hover {
    text-decoration: underline;
}

body {
    background-color: var(--body_clr);
}

body > figure {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #020202;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error ul {
    list-style-type: none;
    padding: 0;
}

#error img {
    width: 100px;
}

#error p, #error li {
    width: 16em;
    text-align: center;
    margin-bottom: 0;
}

#error li {
    padding: 0.4em;
    background-color: var(--gris_normal);
    text-decoration: none;
}

#error li:hover {
    background-color: var(--gris_oscuro);
}

#error li a {
    text-decoration: none;
}

#error li:last-child {
    margin-top: 1.25em;
}

footer {
    background-color: var(--footer_clr);
    padding: 0.3em;
    text-align: center;
}

header > figure img {
    border-radius: 50%;
}

.grid-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(400px + 0.5em + 0.25em));
    gap: 1em;
    border-top: 0.25em solid var(--blanco);
    padding: 2em;
    justify-items: center;
    justify-content: center;
}

.grid-img article {
    border: var(--negro) solid 0.2em;
    background-color: var(--articulos_clr);
    padding: 1.5em;
    color: var(--blanco);
}

.grid-img article img {
    border: var(--negro) solid 0.1em;
}

.grid-img article p, .grid-img article time {
    font-size: large;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
    background-color: var(--blanco);
    color: var(--negro);
    text-decoration: none;
    border: 0.15em solid var(--negro);
}    

header {
    display: flex;
    flex: 2 1 auto;
    padding: 1em;
    background-color: var(--header_clr);
    align-items: center;
    justify-content: space-between;
}

header > aside {
    display: flex;
    align-items: center;
}

header figure {
    margin: 0;
}

header form {
    display: flex;
    padding: 0.5em;
    background: var(--articulos_clr);
    border-radius: 0.5em;
    width: 15em;
}

header form > input[type=text] {
    width: 100%;
}

header form > input[type=text], header form > button {
    background: none;
    border: none;
    color: var(--font_clr);
}

header form > input[type=text]:focus-visible {
    outline: none;
}

header > form {
    display: none;
}

input[name="pfp"] {
    display: none;
}

label[for=pfp] {
    cursor: pointer;
}

nav {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

nav a i::before {
    font-size: xx-large;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li, nav li > div > a {
    flex-grow: 1;
    text-align: center;
    background: var(--footer_clr);
    border-radius: 0.5em;
    margin: 0.25em;
    width: 4em;
}

nav li:hover {
    background: var(--body_clr);
}

nav li span {
    color: inherit;
}

nav li a, nav li > div {
    display: flex;
    padding: 1em;
    font-weight: bold;
    justify-content: center;
}

nav li > div > i::before {
    font-size: xx-large;
}

#nav-texto {
    display: none;
}

select, input[type=date] {
    color: var(--gris_normal);
}

.tab-busc {
    display: grid;
    padding: 2em;
    background-color: var(--footer_clr);
    font-size: large;
    justify-content: center;
}

.tab-busc-fecha {
    display: block;
    margin-bottom: 0.5em;
}

.tab-busc input[type=text], .tab-busc select {
    display: block;
    font-size: 16px;
    margin-top: 0.5em;
}

.tab-busc input[type=date], input[type=submit] {
    font-size: 16px;
}

.tab-busc-y {
    margin: 0 0.25em 0 0.25em;
}

.text-google {
    text-align: center;
}

.text-google a:hover {
    color: var(--gris_oscuro);
}

.titulo-dialog {
    margin-top: 0.3em;
    font-size: large;
}

.titulo-index {
    margin-left: 1.05em;
}

/*********************************************************************/

/** BEGIN: Non Openmrs CSS **/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

div.container {
	display: flex;
	margin-top: 30px;
	border: 1px solid whitesmoke;
	padding: 21px;
	border-radius: 4px;
	align-items: flex-start;
}
h4.title {
	text-align: center;
	margin-bottom: 45px;
}
:root {
	--omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
	--omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
	--omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
	--omrs-color-interaction: #1e4bd1;
	--omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
	--omrs-color-danger: #b50706;
	--omrs-color-bg-low-contrast: #eff1f2;
	--omrs-color-ink-high-contrast: #121212;
	--omrs-color-bg-high-contrast: #ffffff;
	
}
/** END: Non Openmrs CSS **/
div.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20em;
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
	border: none;
	border-bottom: 0.125rem solid var(--cian-grisaceo);
	width: 91%;
	height: 2rem;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
	padding-right: 0.875em;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
	outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--gris_normal);
	transition: top .2s;
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
	font-size: 0.75em;
	color: var(--font_clr);
	margin-left: 1em;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
	background: var(--body_clr);
	border-color: var(--cian_grisaceo_claro);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:not(:placeholder-shown) + .omrs-input-label {
	top: 0;
	font-size: 0.9375rem;
	margin-bottom: 32px;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
	color: var(--ceruleo_grisaceo_mas_claro);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
	border-color: var(--ceruleo_grisaceo_mas_claro);
}

/** DISABLED **/

.omrs-input-underlined > input:disabled {
	background: var(--omrs-color-bg-low-contrast);
	cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper{
	color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
	fill: var(--omrs-color-ink-low-contrast);
}


/** DANGER **/

.omrs-input-underlined.omrs-input-danger > .omrs-input-label, .omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
.omrs-input-filled.omrs-input-danger > .omrs-input-label, .omrs-input-filled.omrs-input-danger > .omrs-input-helper{
	color: var(--omrs-color-danger);
}

.omrs-input-danger > svg {
	fill: var(--omrs-color-danger);
}

.omrs-input-danger > input {
	border-color: var(--omrs-color-danger);
}

.omrs-input-underlined > input {
	background: var(--omrs-color-bg-high-contrast);
}
.omrs-input-filled > input {
	background: none;
	color: var(--blanco);
}

/* MEDIA QUERYS */
/*

@media screen and (max-width: 1000px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header ul{
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 950px) {

    #tab-reg{
        width: 400px;
        padding-left: 2em;
        padding-right: 2em;
    }

    .grid-img, .grid-img{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
        border-top: 0.25em solid var(--blanco);
    }
    
    #reg-2{
        display: none;
    }

    #pfp-query{
        display: block;
        color: var(--blanco);
    }
}

@media screen and (max-width: 800px) {
    .tab-busc{
        padding: 0.1em;
        width: 25em;
    }  
    
    .tab-busc h2{
        width: 12.5em;
    }   
}

@media screen and (max-width: 600px) {
    #datos-usu{
        width: 31.25em;
        display: block;
        padding: 2em;
        background-color: var(--footer_clr);
        margin: 0 auto 1em;
    }

    #foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    #foto img{
        width: 22.4375em;
    }

    #funciones{
        margin-top: 2em;
    }

} */
