header {
    display: none;
}

body > figure {
    display: flex;
    justify-content: center;
}

footer {
    display: none;
}

.titulo-index {
    display: none;
}

@media print {
    article {
        page-break-after: always;
    }
}
